# Linear Regression for Multi-Variable

In exercise folder (same level as this notebook on github) there is `hiring.csv`. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to **build a machine learning model** for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates.

Get results for those inputs
1. **2 yr experience, 9 test score, 6 interview score**
2. **12 yr experience, 10 test score, 10 interview score**

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

### Read Data

In [2]:
data = pd.read_csv('hiring.csv')
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
data['test_score(out of 10)'].fillna(round(data['test_score(out of 10)'].mean(),0),inplace=True)

In [6]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [12]:
def mapping(x):
    if x.lower().strip() == 'zero': return 0
    elif x.lower().strip() == 'one': return 1
    elif x.lower().strip() == 'two': return 2
    elif x.lower().strip() == 'three': return 3
    elif x.lower().strip() == 'four': return 4
    elif x.lower().strip() == 'five': return 5
    elif x.lower().strip() == 'six': return 6
    elif x.lower().strip() == 'seven': return 7
    elif x.lower().strip() == 'eight': return 8
    elif x.lower().strip() == 'nine': return 9
    elif x.lower().strip() == 'ten': return 10
    elif x.lower().strip() == 'eleven': return 11
    else: return 0

In [13]:
data.experience = data.experience.apply(mapping)

AttributeError: 'float' object has no attribute 'lower'